In [22]:
import numpy as np
import pandas as pd

In [23]:
url = 'https://voteview.com/static/data/out/members/H119_members.csv'
ideology = pd.read_csv(url)
ideology.head(3).T

cols_to_keep = ['bioname', 'chamber', 'nominate_dim1', 'party_code']
crosswalk_cols = ['bioname', 'state_abbrev', 'district_code', 'icpsr', 'bioguide_id']

crosswalk = ideology[crosswalk_cols]
ideology = ideology[cols_to_keep]

In [24]:
ideology.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 443 entries, 0 to 442
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   bioname        443 non-null    object
 1   chamber        443 non-null    object
 2   nominate_dim1  442 non-null    float64
 3   party_code     443 non-null    int64
dtypes: float64(1), int64(1), object(2)
memory usage: 14.0+ KB

In [25]:
ideology['party_code'].value_counts()

party_code
200    224
100    219
Name: count, dtype: int64

In [26]:
#help(pd.DataFrame)

In [27]:
replace_map = {200: 'Republican', 100: 'Democrat'}
ideology['party'] = ideology['party_code'].replace(replace_map)
ideology['party'].value_counts()

party
Republican    224
Democrat      219
Name: count, dtype: int64

In [28]:
ideology = ideology.drop(['party_code'], axis = 1)

ideology

                 bioname chamber  nominate_dim1       party
0    ROGERS, Mike Dennis   House          0.378  Republican
1          SEWELL, Terri   House         -0.399    Democrat
2     PALMER, Gary James   House          0.674  Republican
3           MOORE, Barry   House          0.643  Republican
4           STRONG, Dale   House          0.606  Republican
..                   ...     ...            ...         ...
438   TIFFANY, Thomas P.   House          0.639  Republican
439    FITZGERALD, Scott   House          0.599  Republican
440   VAN ORDEN, Derrick   House          0.380  Republican
441           WIED, Tony   House          0.481  Republican
442     HAGEMAN, Harriet   House          0.650  Republican

[443 rows x 4 columns]

In [30]:
ideology = ideology.rename({'nominate_dim1': 'left_right_ideology'}, axis = 1)
ideology

                 bioname chamber  left_right_ideology       party
0    ROGERS, Mike Dennis   House                0.378  Republican
1          SEWELL, Terri   House               -0.399    Democrat
2     PALMER, Gary James   House                0.674  Republican
3           MOORE, Barry   House                0.643  Republican
4           STRONG, Dale   House                0.606  Republican
..                   ...     ...                  ...         ...
438   TIFFANY, Thomas P.   House                0.639  Republican
439    FITZGERALD, Scott   House                0.599  Republican
440   VAN ORDEN, Derrick   House                0.380  Republican
441           WIED, Tony   House                0.481  Republican
442     HAGEMAN, Harriet   House                0.650  Republican

[443 rows x 4 columns]

In [34]:
ideology.sort_values('left_right_ideology', ascending = False)

                  bioname chamber  left_right_ideology       party
398         GILL, Brandon   House                0.981  Republican
296         HARRIGAN, Pat   House                0.979  Republican
116           FINE, Randy   House                0.901  Republican
129       MCCORMICK, Rich   House                0.891  Republican
433       MOORE, Riley M.   House                0.877  Republican
..                    ...     ...                  ...         ...
429        RANDALL, Emily   House               -0.680    Democrat
401     TURNER, Sylvester   House               -0.746    Democrat
381        GARCIA, Sylvia   House               -0.781    Democrat
66        SIMON, Lateefah   House               -0.938    Democrat
420  WALKINSHAW, James R.   House                  NaN    Democrat

[443 rows x 4 columns]

In [35]:
crosswalk

                 bioname state_abbrev  district_code  icpsr bioguide_id
0    ROGERS, Mike Dennis           AL              3  20301     R000575
1          SEWELL, Terri           AL              7  21102     S001185
2     PALMER, Gary James           AL              6  21500     P000609
3           MOORE, Barry           AL              1  22140     M001212
4           STRONG, Dale           AL              5  22366     S001220
..                   ...          ...            ...    ...         ...
438   TIFFANY, Thomas P.           WI              7  21989     T000165
439    FITZGERALD, Scott           WI              5  22115     F000471
440   VAN ORDEN, Derrick           WI              3  22370     V000135
441           WIED, Tony           WI              8  22383     W000829
442     HAGEMAN, Harriet           WY              1  22325     H001096

[443 rows x 5 columns]

In [37]:
ideology_crosswalk = pd.merge(ideology, crosswalk, 
                              on = 'bioname')

ideology_crosswalk

,bioname,chamber,left_right_ideology,party,state_abbrev,district_code,icpsr,bioguide_id
0,"ROGERS, Mike Dennis",House,0.378,Republican,AL,3,20301,R000575
1,"SEWELL, Terri",House,-0.399,Democrat,AL,7,21102,S001185
2,"PALMER, Gary James",House,0.674,Republican,AL,6,21500,P000609
3,"MOORE, Barry",House,0.643,Republican,AL,1,22140,M001212
4,"STRONG, Dale",House,0.606,Republican,AL,5,22366,S001220
...,...,...,...,...,...,...,...,...
438,"TIFFANY, Thomas P.",House,0.639,Republican,WI,7,21989,T000165
439,"FITZGERALD, Scott",House,0.599,Republican,WI,5,22115,F000471
440,"VAN ORDEN, Derrick",House,0.380,Republican,WI,3,22370,V000135
441,"WIED, Tony",House,0.481,Republican,WI,8,22383,W000829
442,"HAGEMAN, Harriet",House,0.650,Republican,WY,1,22325,H001096

In [38]:
ideology_crosswalk.query("state_abbrev == 'VA' & district_code == 5")

,bioname,chamber,left_right_ideology,party,state_abbrev,district_code,icpsr,bioguide_id
417,"MCGUIRE, John J., III",House,0.681,Republican,VA,5,22539,M001239